aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
autoflake==1.4
chardet==4.0.0
discord==1.0.1
discord.py==1.6.0
epc==0.0.5
flake8==3.9.0
greenlet==0.4.17
idna==3.1
importmagic==0.1.7
jedi==0.17.2
mccabe==0.6.1
msgpack==1.0.2
multidict==5.1.0
neovim==0.3.1
parso==0.7.1
pluggy==0.13.1
ptvsd==4.3.2
pycodestyle==2.7.0
pyflakes==2.3.0
pynvim==0.4.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
sexpdata==0.0.3
typing-extensions==3.7.4.3
ujson==4.0.2
yapf==0.31.0
yarl==1.6.3
