astroid==2.5.1
attrs==20.3.0
epc==0.0.5
greenlet==1.0.0
importmagic==0.1.7
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
msgpack==1.0.2
neovim==0.3.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pylint==2.7.2
pynvim==0.4.3
pyparsing==2.4.7
pytest==6.2.2
sexpdata==0.0.3
toml==0.10.2
wrapt==1.12.1
yapf==0.31.0
